Repository organvm-ii-poiesis/a-mavs-olevm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.{css,html,md}": "prettier --write"
}

fix: use existing repository labels in stewardship metadata
  .github/workflows/project-automation.yml
  scripts/stewardship.cjs
  tests/governance/known-labels.json
  tests/governance/stewardship.test.cjs
Due: none

fix: finish navigation recovery review and cold chamber prerequisites
  docs/verification/2026-09-13-navigation-recovery.md
  js/chamberManifest.js
  js/discovery/ContentRegistry.js
  js/main.js
  js/page.js
  js/runtimeFallback.js
  tests/e2e/chamber-prerequisites.spec.js
  tests/e2e/navigation-runtime.spec.js
  tests/e2e/runtime-startup.spec.js
  tests/unit/chamberPrerequisites.test.js
  tests/unit/discovery/sourceConfigCollectors.test.js
  tests/unit/navigationRuntime.test.js
  tests/unit/runtimeStartup.test.js
Due: eslint --fix, prettier --write

docs(stewardship): reconcile final candidate proofs and remaining gates
  STATUS.md
  docs/stewardship/CI-ENABLEMENT-CAPABILITY-2026-09-13.md
  docs/stewardship/EDITION-EXECUTION-PLAN-2026-09-13.md
  docs/stewardship/INVENTORY-VERDICTS-WAVES-2026-09-13.md
Due: prettier --write

fix: align the advertised runtime and complete local test gate
  docs/stewardship/dependency-runtime-2026-09-13.md
  package-lock.json
  package.json
  tests/toolchain/runtime-engine-contract.test.js
Due: eslint --fix, prettier --write

fix: validate nested exhibit resources and pin publication runtime
  .github/workflows/ci-cd.yml
  absorb-alchemize/audio-orb/index.html
  absorb-alchemize/gemini-ink-studio/index.html
  absorb-alchemize/p5js-playground/index.html
  absorb-alchemize/synthwave-space/index.html
  docs/verification/publication-artifact.md
  scripts/stage-public.mjs
  tests/publication/stage-public.test.mjs
Due: prettier --write

fix: honor browser bindings, offline catalogue and finite shuffle
  js/media/MediaURLResolver.js
  js/media/audio/EnhancedAudioPlayer.js
  js/media/audio/PlaylistManager.js
  sw.js
  tests/e2e/source-catalogue.spec.js
  tests/unit/source-catalogue.test.js
Due: eslint --fix, prettier --write

docs: record final reviewed candidate proofs and remaining gates
  STATUS.md
Due: prettier --write

ci: restore validate-dependencies required check
  .github/workflows/validate-dependencies.yml
Due: none

fix: restore verified album sources and complete diary navigation (#143)
  .github/workflows/validate-dependencies.yml
  audio/README.md
  audio/albums/config.js
  audio/albums/ogod/lyrics/README.md
  chambers/diary/fragment.html
  chambers/odeion/fragment.html
  dependencies/vendor/howler/LICENSE.md
  dependencies/vendor/howler/SOURCE.json
  dependencies/vendor/howler/howler.core.min.js
  docs/SOURCE_CATALOGUE.md
  docs/archive/audio-infrastructure-proposal.md
  index.html
  js/audioPlayer.js
  js/chamberManifest.js
  js/config.js
  js/data/source-catalogue.js
  js/diary.js
  js/media/MediaURLResolver.js
  js/media/audio/EnhancedAudioPlayer.js
  js/media/audio/PlaylistManager.js
  js/pageData.js
  odeion/config.js
  odeion/index.html
  odeion/odeion.js
  sw.js
  tests/e2e/source-catalogue.spec.js
  tests/unit/source-catalogue.test.js
Due: eslint --fix, prettier --write

fix: publish only complete, verified site artifacts (#145)
  .github/workflows/ci-cd.yml
  .gitignore
  absorb-alchemize/audio-orb/index.html
  absorb-alchemize/audio-orb/package-lock.json
  absorb-alchemize/gemini-ink-studio/index.html
  absorb-alchemize/gemini-ink-studio/package-lock.json
  absorb-alchemize/p5js-playground/index.html
  absorb-alchemize/p5js-playground/package-lock.json
  absorb-alchemize/synthwave-space/index.html
  absorb-alchemize/synthwave-space/package-lock.json
  docs/verification/publication-artifact.md
  package.json
  publication-needs.json
  scripts/build-public-exhibits.mjs
  scripts/check-public-inputs.mjs
  scripts/publication-config.mjs
  scripts/stage-public.mjs
  scripts/verify-public-artifact.mjs
  scripts/verify-publication.mjs
  tests/publication/stage-public.test.mjs
Due: prettier --write
