Repository organvm-ii-poiesis/a-mavs-olevm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

deploy: df0a26b9715d43b79932d5ab657972ec7f620ef8
  index.html
  js/page.js
  tests/e2e/mobile.spec.js
Due: eslint --fix, prettier --write

feat: implement repository standards and roadmap system
  .config/commitlint.config.js
  .config/editorconfig
  .config/eslint.config.js
  .config/htmlvalidate.json
  .config/lighthouserc.cjs
  .config/lint-staged.json
  .config/playwright.config.js
  .config/prettierignore
  .config/prettierrc.json
  .config/vercelignore
  .config/vitest.config.js
  .editorconfig
  .github/FUNDING.yml
  .github/SUPPORT.md
  .github/workflows/ci-cd.yml
  .github/workflows/stale.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .vscode/settings.json
  CHANGELOG.md
  LICENSE
  README.md
  SECURITY.md
  lint-staged.config.js
  package-lock.json
  package.json
  tests/e2e/accessibility.spec.js
  tests/unit/page.test.js
  tests/unit/pageData.test.js
Due: eslint --fix, prettier --write

feat: add main.js unit tests and CI quality jobs
  .github/workflows/ci-cd.yml
  CHANGELOG.md
  tests/unit/main.test.js
Due: eslint --fix, prettier --write

refactor: remove dead code and reduce console noise
  .config/eslint.config.js
  .config/vitest.config.js
  js/audioAnalyzerBridge.js
  js/diary.js
  js/images.js
  js/living-pantheon/AnimatedContentSystem.js
  js/living-pantheon/GlobalGlitchSystem.js
  js/living-pantheon/LabyrinthGenerator.js
  js/living-pantheon/LivingPantheonCore.js
  js/living-pantheon/MorphingImageSystem.js
  js/main.js
  js/media/cache/MediaServiceWorker.js
  js/media/video/EnhancedVideoPlayer.js
  js/nameSearch.js
  js/namingAPI.js
  js/ogod.js
  js/page.js
  js/pageData.js
  js/sketch.js
  js/uiSounds.js
  tests/unit/living-pantheon.test.js
  tests/unit/setup.js
Due: eslint --fix, prettier --write

Revert "refactor: remove dead code and reduce console noise"
  .config/eslint.config.js
  .config/vitest.config.js
  js/audioAnalyzerBridge.js
  js/diary.js
  js/images.js
  js/living-pantheon/AnimatedContentSystem.js
  js/living-pantheon/GlobalGlitchSystem.js
  js/living-pantheon/LabyrinthGenerator.js
  js/living-pantheon/LivingPantheonCore.js
  js/living-pantheon/MorphingImageSystem.js
  js/main.js
  js/media/cache/MediaServiceWorker.js
  js/media/video/EnhancedVideoPlayer.js
  js/nameSearch.js
  js/namingAPI.js
  js/ogod.js
  js/page.js
  js/pageData.js
  js/sketch.js
  js/uiSounds.js
  tests/unit/living-pantheon.test.js
  tests/unit/setup.js
Due: eslint --fix, prettier --write

chore: re-apply ESLint and Vitest improvements
  .config/eslint.config.js
  .config/vitest.config.js
  tests/unit/setup.js
Due: eslint --fix, prettier --write

fix: correct failing living-pantheon tests
  tests/unit/living-pantheon.test.js
Due: eslint --fix, prettier --write

feat: implement Phase 5 discovery system with search, filters, and related works
  .config/eslint.config.js
  css/discovery.css
  index.html
  js/config.js
  js/discovery/ContentRegistry.js
  js/discovery/DiscoveryController.js
  js/discovery/FilterSystem.js
  js/discovery/RelatedWorksEngine.js
  js/discovery/SearchEngine.js
  js/discovery/ShareLinks.js
  js/main.js
  js/page.js
  js/pageData.js
  tests/unit/AudioAnalyzer.test.js
  tests/unit/DOFPass.test.js
  tests/unit/FirstPersonController.test.js
  tests/unit/MotionBlurPass.test.js
  tests/unit/OGODAudioEngine.test.js
  tests/unit/OGODSceneManager.test.js
  tests/unit/SSAOPass.test.js
  tests/unit/SceneManager.test.js
  tests/unit/discovery/ContentRegistry.test.js
  tests/unit/discovery/FilterSystem.test.js
  tests/unit/discovery/RelatedWorksEngine.test.js
  tests/unit/discovery/SearchEngine.test.js
  tests/unit/living-pantheon.test.js
Due: eslint --fix, prettier --write

feat: implement Phase 2 self-hosted media infrastructure
  .config/eslint.config.js
  index.html
  js/config.js
  js/media/MediaURLResolver.js
  js/media/video/EnhancedVideoPlayer.js
  js/media/video/HLSLoader.js
  odeion/config.js
  odeion/odeion.js
  scripts/generate-waveforms.js
  scripts/transcode-video.js
Due: eslint --fix, prettier --write

feat: add THEATRON video player and PINAKOTHEKE lightbox
  agora/index.html
  akademia/index.html
  bibliotheke/index.html
  ergasterion/index.html
  khronos/index.html
  odeion/index.html
  oikos/index.html
  pinakotheke/config.js
  pinakotheke/css/pinakotheke.css
  pinakotheke/index.html
  symposion/index.html
  templates/chamber-base.html
  theatron/config.js
  theatron/css/theatron.css
  theatron/index.html
Due: eslint --fix, prettier --write

fix: resolve E2E test failures in chambers.spec.js
  .config/playwright.config.js
  css/discovery.css
  tests/e2e/chambers.spec.js
Due: eslint --fix, prettier --write

fix: resolve E2E test failures and accessibility issues
  css/discovery.css
  index.html
  js/discovery/DiscoveryController.js
  tests/e2e/accessibility.spec.js
  tests/e2e/carousel.spec.js
  tests/e2e/chambers.spec.js
  tests/e2e/mobile.spec.js
  tests/e2e/ogod-3d.spec.js
Due: eslint --fix, prettier --write

fix: unskip and stabilize E2E tests for mobile menu, navigation, and touch
  tests/e2e/carousel.spec.js
  tests/e2e/mobile.spec.js
  tests/e2e/navigation.spec.js
  tests/e2e/ogod-3d.spec.js
Due: eslint --fix, prettier --write

Deploy Silver Sprint README for a-mavs-olevm
  README.md
Due: prettier --write

ci: add CI workflow (Platinum Sprint)
  .github/workflows/ci.yml
Due: none

docs: add CHANGELOG (Platinum Sprint)
  CHANGELOG.md
Due: prettier --write

docs: add ADR-001 initial architecture (Platinum Sprint)
  docs/adr/001-initial-architecture.md
Due: prettier --write

docs: add ADR-002 integration patterns (Platinum Sprint)
  docs/adr/002-integration-patterns.md
Due: prettier --write

chore: standardize badge row (Platinum Sprint)
  README.md
Due: prettier --write

feat: add .meta/dependencies.json
  .meta/dependencies.json
Due: none

chore: remove stale ci.yml workflow (superseded by ci-cd.yml) — IGNITION Sprint
  .github/workflows/ci.yml
Due: none

chore: add seed.yaml automation contract (AUTONOMY Sprint)
  seed.yaml
Due: none

chore: add produces/consumes contracts to seed.yaml (AUTONOMY Sprint Phase E)
  seed.yaml
Due: none

fix: prevent search modal from blocking page on load
  css/discovery.css
  js/page.js
Due: eslint --fix, prettier --write

feat: activate Living Pantheon, Ergasterion exhibits, and Odeion player
  .config/eslint.config.js
  .github/workflows/ci-cd.yml
  audio/ambient/clock-tick.mp3
  audio/ambient/concert-hall.mp3
  audio/ambient/conversation.mp3
  audio/ambient/crowd-murmur.mp3
  audio/ambient/gallery-echo.mp3
  audio/ambient/hearth-crackle.mp3
  audio/ambient/machine-hum.mp3
  audio/ambient/paper-rustle.mp3
  audio/ambient/scholarly-hum.mp3
  audio/ambient/stage-ambience.mp3
  audio/ambient/temple-drone.mp3
  css/breathing.css
  css/ergasterion.css
  css/odeion.css
  index.html
  js/config.js
  js/ergasterion/ExhibitBridge.js
  js/ergasterion/ExhibitPortal.js
  js/living-pantheon/AnimatedContentSystem.js
  js/living-pantheon/GlitchTunnelSystem.js
  js/living-pantheon/LivingPantheonCore.js
  js/media/audio/PlaylistManager.js
  js/ogod/utils/PixelSortUtils.js
  js/pageData.js
  package.json
  scripts/generate-ambient-audio.mjs
Due: eslint --fix, prettier --write

feat: activate generative chambers — Pinakotheke, Khronos, Bibliotheke, Oikos, Theatron, Agora
  .config/eslint.config.js
  css/generative.css
  index.html
  js/generative/BibliothekePoetry.js
  js/generative/KhronosTimeline.js
  js/generative/OikosJournal.js
  js/generative/PinakothekeGenerator.js
  js/pageData.js
  package.json
Due: eslint --fix, prettier --write

fix: heal dependency runtime family with strict verification
  .github/workflows/ci-cd.yml
  .nvmrc
  docs/stewardship/dependency-runtime-2026-09-13.md
  package-lock.json
  package.json
  scripts/validate-package-lock.js
  tests/toolchain/browser-sync-compatibility.test.js
  tests/toolchain/lock-contract.test.js
  tests/unit/discovery/FilterSystem.test.js
  tests/unit/setup.js
Due: eslint --fix, prettier --write

chore: preserve stewardship intentions and edition boundaries
  .github/copilot-instructions.md
  .github/workflows/project-automation.yml
  .github/workflows/stewardship.yml
  AGENTS.md
  BRANCHES.md
  STATUS.md
  docs/REPOSITORY_STEWARDSHIP.md
  docs/stewardship/CI-ENABLEMENT-CAPABILITY-2026-09-13.md
  docs/stewardship/EDITION-EXECUTION-PLAN-2026-09-13.md
  docs/stewardship/INVENTORY-VERDICTS-WAVES-2026-09-13.md
  docs/stewardship/closed-unmerged-2026-09-13.json
  scripts/stewardship.cjs
  tests/governance/stewardship.test.cjs
Due: prettier --write

fix: restore native navigation and retry failed chamber loads
  .config/eslint.config.js
  docs/verification/2026-09-13-navigation-recovery.md
  index.html
  js/chamberManifest.js
  js/discovery/DiscoveryController.js
  js/main.js
  js/modules/ChamberLoader.js
  js/modules/ScriptLoader.js
  js/page.js
  js/pageData.js
  js/runtimeFallback.js
  package.json
  tests/e2e/navigation-runtime.spec.js
  tests/unit/modules/ChamberLoader.test.js
  tests/unit/modules/ScriptLoader.test.js
  tests/unit/navigationRuntime.test.js
Due: eslint --fix, prettier --write

test: recover discovery coverage family without dropping prior cases
  docs/verification/2026-09-13-discovery-coverage-family.md
  tests/unit/discovery/DiscoveryController.test.js
Due: eslint --fix, prettier --write

docs: prove required-check gap and park revival successor
  STATUS.md
  docs/stewardship/CI-ENABLEMENT-CAPABILITY-2026-09-13.md
  docs/stewardship/EDITION-EXECUTION-PLAN-2026-09-13.md
  docs/stewardship/INVENTORY-VERDICTS-WAVES-2026-09-13.md
Due: prettier --write

fix: restore verified album sources and diary navigation
  audio/README.md
  audio/albums/config.js
  audio/albums/ogod/lyrics/README.md
  chambers/diary/fragment.html
  chambers/odeion/fragment.html
  dependencies/vendor/howler/LICENSE.md
  dependencies/vendor/howler/SOURCE.json
  dependencies/vendor/howler/howler.core.min.js
  docs/SOURCE_CATALOGUE.md
  docs/archive/audio-infrastructure-proposal.md
  index.html
  js/audioPlayer.js
  js/chamberManifest.js
  js/config.js
  js/data/source-catalogue.js
  js/diary.js
  js/media/MediaURLResolver.js
  js/media/audio/EnhancedAudioPlayer.js
  js/media/audio/PlaylistManager.js
  js/pageData.js
  odeion/config.js
  odeion/index.html
  odeion/odeion.js
  tests/e2e/source-catalogue.spec.js
  tests/unit/source-catalogue.test.js
Due: eslint --fix, prettier --write

fix: validate peer contracts and isolate compatibility ports
  docs/stewardship/dependency-runtime-2026-09-13.md
  scripts/validate-package-lock.js
  tests/toolchain/browser-sync-compatibility.test.js
  tests/toolchain/lock-contract.test.js
Due: eslint --fix, prettier --write

fix: stage complete allowlisted publication artifacts and gate unsafe AI activation
  .github/workflows/ci-cd.yml
  .gitignore
  absorb-alchemize/audio-orb/package-lock.json
  absorb-alchemize/gemini-ink-studio/package-lock.json
  absorb-alchemize/p5js-playground/package-lock.json
  absorb-alchemize/synthwave-space/package-lock.json
  docs/verification/publication-artifact.md
  package.json
  publication-needs.json
  scripts/build-public-exhibits.mjs
  scripts/check-public-inputs.mjs
  scripts/publication-config.mjs
  scripts/stage-public.mjs
  scripts/verify-public-artifact.mjs
  scripts/verify-publication.mjs
  tests/publication/stage-public.test.mjs
Due: prettier --write

fix: verify raw archive bytes without text-filter false positives
  docs/verification/publication-artifact.md
  scripts/stage-public.mjs
  tests/publication/stage-public.test.mjs
Due: prettier --write

test: retain real Odeion route playback verification
  docs/SOURCE_CATALOGUE.md
  tests/e2e/source-catalogue.spec.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{css,html,md})
